<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841231511266-i4s5tlrasrsfjpidq5pih2ar8clmcs3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841231511266-i4s5tlrasrsfjpidq5pih2ar8clmcs3i</string>
	<key>API_KEY</key>
	<string>AIzaSyBHSaiL1-nolSl_1L1IrAqXGeyl7qsyvA8</string>
	<key>GCM_SENDER_ID</key>
	<string>841231511266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosharny.Hookah-Mixes</string>
	<key>PROJECT_ID</key>
	<string>hookahmixes-21dd8</string>
	<key>STORAGE_BUCKET</key>
	<string>hookahmixes-21dd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841231511266:ios:bdc9a0d0b00f1dcdafb8bb</string>
</dict>
</plist>